/*Commont*/
html, body, div, span, h1, h2, h3, h4, h5, h6,a, em, font, img,
strong, ol, ul, li {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
	list-style-type:none;
}
body {
	font-family: georgia, helvetica, arial, sans-serif;
	font-size: 90.5%;
	line-height: 2em;
	width: 100%;
}
/*Set width for page*/
#page-wrap{
	width:80%;
	margin-left: 10%;	
	/*position: relative;*/
	/*height: 100%;*/
}	
#page-wrap:after{ content:''; display:block; height:150px; }

/*header*/
#header{
/*	position: relative;
	top:50px;*/
}
#logo{
	height:90px;
	width: 345px;
	float: left;
}
#logo img{
	height: 90px;
   
}
#banner{
	height:90px;
	border: 1px solid blue;
	width: 728px;
	text-align: center;
	float: right;
}
#mainNav{
	width: 100%;
	background: red;
	float: left;
	margin-top: 10px;
}
#mainNav ul{
	margin-left: 40px;
}
#mainNav ul li{
	display: inline;
	margin-right: 10px;
}
#mainNav ul li a{
	color: white;
	text-decoration: none;
}
#subNav{
	width: 100%;
	height: 0px;
	visibility:hidden;
	border: 1px solid black;
	background: white;
}
.subNav{
	display: inline-block;
	width: 18%;
	margin-right: 2%;
}
/*Content*/
#content{
	/*position: relative;*/
	/*top:200px;*/
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;

}

/*sidebar*/
#sitebar{
	float: right;
	width: 29%;
	padding-bottom: 20px;
}
.div-bar{
	border-top: 2px solid black;
	margin:0px 0px 20px 0px;
}
.div-bar li.post{
	border-bottom: 1px solid gray;
}

ul.bar-1{
	margin-top: 10px;
}
ul.bar-1 li{
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	padding-left: 15px;
}
ul.bar-1 li.end{
	border-bottom: 1px solid black;
	padding-left: 15px;
}
ul.bar-1 li p{
	display: inline;
	margin-right: 30px;
}
.div-bar img{
	height: 200px;
	border:1px solid black;
	display: block;
	margin-top: 10px;
	text-align: center;
}
ul.post{
	margin-top: 10px;
}
ul.post li{
	margin-bottom: 10px;
}
.post li p{
	display: inline-block;
	margin-right: 30px;
}
.post li p.cat{
	color: white;
	background: blue;
}

#form{
	margin-top: 10px;
}

select{
	width: 100%;
	margin-bottom: 10px;
}
input{
	width: 98%;
	margin-bottom: 10px;
}
textarea{
	width: 98%;
	margin-bottom: 10px;
}
button{
	float: right;
	width: 80px;
	height: 30px;
	background: red;
}	

/*primary*/
#primary{
	width: 69%;
	padding-bottom: 20px;
}
.post-item{
	float: left;
	width: 100%;
	border-top: 2px solid black;
	margin-bottom: 30px;
}
.post-item-first{
	float:left;
}
.post-item-first p{
	float: left;
}
.post-item-first img#post{
	border: 1px solid black;
	height: 400px;
	width: 70%;
	margin-left: 15%;
	float: left;
}
.post-item-first img{
	margin-left: 10%;
	width: 80%;
	height: 70px;
	border: 1px solid black;
	margin-bottom: 30px;
	float: left;
}

#write-comment{
	display: inline-block;
	background: gray;
	width: 100%;
	height: 180px;
	margin-top: 10px;
}
#write-comment img{
	width: 15%;
	height: 100px;
	margin-top: 20px;
	border: 1px solid black;
	float:left;
	margin-left:20px;
}
#write-comment form{
	float: right;
	right: 20px;
	height: 90%;
	width: 75%;
	margin-top: 20px;
}
#write-comment form textarea{
	height: 95px;
	width: 95%;
}
#write-comment button{
	width: 80px;
	height: 30px;
	background: red;
	margin-right: 20px;
	bottom: 10px;
}
input[type=checkbox]{
	left: 0px;
	top: 0px;
	height: 10px;
	width: 10px;
}
#user-comment{
	margin-top: 20px;
}
ul li.user{
	border-bottom: 2px solid gray;
	padding-bottom: 20px;
}
ul li.user img{
	float: left;
	height: 50px;
	width: 50px;
	border: 1px solid black;
	margin-right: 10px;
	margin-top: 10px;
}

ul li.user p{
	line-height:5px;
	height: 5px;
	font-size: 80%;
}
ul li.user-end{
	padding-bottom: 20px;
}
ul li.user-end img{
	float: left;
	height: 50px;
	width: 50px;
	border: 1px solid black;
	margin-right: 10px;
	margin-top: 10px;
}

ul li.user-end p{
	line-height:5px;
}
#page-num{
	bottom:0px;	
	float: right;
	margin-bottom: 20px;
}
#page-num li{
	display: inline;
	padding-right:10px;
	 
}
#footer{
	/*position: absolute;*/
	width: 100%;
	height: 100px;
	background: red;
	/*bottom: 0px;*/
}
#content,#footer{
	clear: both;
}